{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module",
        "ecmaVersion": 8
    },
    "plugins": ["@typescript-eslint"],
    "env": {
        "node": true,
        "mocha": true
    },
    "extends": [
        "airbnb-base",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "rules": {
        "radix": "off",
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off",
        "no-console": "off",
        "consistent-return": "warn",
        "no-underscore-dangle": ["error", { "allow": ["__reqId"] }],
        "curly": ["error", "all"],
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "@typescript-eslint/no-use-before-define": "warn",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-inferrable-types": "warn",
        "import/prefer-default-export": "off",
        "import/no-cycle": "error",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ]
    },
    "settings": {
        // Allows us to lint absolute imports within codebase
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    }
}
